section.client
	.client__container.small-container 
		.client__body 
			.client__top 
				h2.client__subtitle.subtitle.subtitle--white Our Beloved Client
				.client__text.text.text--white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			.client__slider
				ul.client__list 
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 1
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 5
							.logo-card__cover More Client
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 2
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 6
							.logo-card__cover More Client
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 3
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 7
							.logo-card__cover More Client
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 4
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 8
							.logo-card__cover More Client
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 1
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 5
							.logo-card__cover More Client
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 2
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 6
							.logo-card__cover More Client
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 3
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 7
							.logo-card__cover More Client
					li.client__item
						a(href="#").logo-card.logo-card--top
							span LOGO CLIENT 4
							.logo-card__cover More Client
						a(href="#").logo-card
							span LOGO CLIENT 8
							.logo-card__cover More Client
