footer.footer
	.footer__wrap 
		.footer__container.small-container
			.footer__body 
				.footer__col
					a(href="index.html").footer__logo.logo
						.logo__icon 
							span A
						.logo__name Afrianska
					ul.footer__list 
						li.footer__item(data-letter="A.")
							a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li.footer__item(data-letter="T.")
							a(href="tel:+6281273134321") +62-812-7313-4321
						li.footer__item(data-letter="E.")
							a(href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
				.footer__col
					.footer__caption About US
					ul.footer__list 
						li.footer__item
							a(href="#") About
						li.footer__item 
							a(href="#") What We Do
						li.footer__item 
							a(href="#") Project
						li.footer__item 
							a(href="#") How It Work With Us
				.footer__col
					.footer__caption Follow US
					ul.footer__list 
						li.footer__item 
							a(href="#") Instagram
						li.footer__item 
							a(href="#") Facebook
						li.footer__item 
							a(href="#") LinkedIn
						li.footer__item 
							a(href="#") Youtube
			.footer__bottom 2019 © Afrianska. All rights reserved.