header.header
	.header__container.container
		.header__body
			a(href="index.html").header__toggle A
			button(type="button").header__burger
				span
	nav.header__menu.menu
		.menu__back
		ul.menu__list 
			li.menu__item 
				a.menu__link(href="#") About
			li.menu__item 
				a.menu__link(href="#") Services
			li.menu__item 
				a.menu__link(href="#") Products
			li.menu__item 
				a.menu__link(href="#") Contact Us
			li.menu__item 
				a.menu__link(href="#") Work With Us
