section.services
	.services__container.small-container
		.services__body 
			.services__column.services__column--left
				h2.services__subtitle.subtitle What we do to help our client grow in digital era,
				.services__card.card
					.card__body 
						.card__image.card__image--card02
							img(src="@img/card02.svg", alt="")
						h3.card__title Make Your business To Be Better Famous In Internet
						.card__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						a(href="#").card__link Learn more
			.services__column.services__column--right
				.services__card.card
					.card__body 
						.card__image.card__image--card01
							img(src="@img/card01.svg", alt="")
						h3.card__title Bring Technology To Your Comfrotable Home
						.card__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						a(href="#").card__link Learn more
				.services__card.card
					.card__body 
						.card__image.card__image--card03
							img(src="@img/card03.svg", alt="")
						h3.card__title Build Your Digital Product That Suitable For Your Need
						.card__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						a(href="#").card__link Learn more




