section.work
	.work__wrap
		.work__container.small-container 
			.work__body 
				.work__col
					h2.work__subtitle.subtitle.subtitle--white Intersted to work with our team?
					.work__text.text.text--white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				.work__col
					a(href="#popup").work__btn.btn.popup-link Let's Talk



